SET NOCOUNT ON;
USE RealEstateDb;

DECLARE @r1 INT = (SELECT Id FROM Users WHERE Login='realtor1');
DECLARE @r2 INT = (SELECT Id FROM Users WHERE Login='realtor2');
DECLARE @r3 INT = (SELECT Id FROM Users WHERE Login='realtor3');
DECLARE @c1 INT = (SELECT Id FROM Users WHERE Login='client1');
DECLARE @c2 INT = (SELECT Id FROM Users WHERE Login='client2');
DECLARE @c3 INT = (SELECT Id FROM Users WHERE Login='client3');
DECLARE @c4 INT = (SELECT Id FROM Users WHERE Login='client4');
DECLARE @c5 INT = (SELECT Id FROM Users WHERE Login='client5');
DECLARE @c6 INT = (SELECT Id FROM Users WHERE Login='client6');
DECLARE @c7 INT = (SELECT Id FROM Users WHERE Login='client7');

DECLARE @pNezu  INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Независимости%');
DECLARE @pMalin INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Малиновка%');
DECLARE @pPush  INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Пушкинская%');
DECLARE @pStud  INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Немига%' AND Rooms=1);
DECLARE @pPobed INT = (SELECT Id FROM Properties WHERE Title LIKE N'%бизнес-класса%');
DECLARE @pZavod INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Заводская%');
DECLARE @pSurga INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Сурганова%');
DECLARE @pNemig INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Немига%' AND Rooms=2);
DECLARE @pDroz  INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Дроздово%');
DECLARE @pKolod INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Колодищах%');
DECLARE @pBor   INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Боровлянах%');
DECLARE @pDacha INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Озёрный%');
DECLARE @pMas   INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Масюковщина%');
DECLARE @pZasla INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Заславле%');
DECLARE @pZhdan INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Ждановичах%');
DECLARE @pGomel INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Гомель%');
DECLARE @pBrest INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Брест%');
DECLARE @pViteb INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Витебск%');
DECLARE @pGrodn INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Гродно%');
DECLARE @pMogil INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Могилёв%');
DECLARE @pBaran INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Барановичи%');
DECLARE @pOffis INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Офисное%');
DECLARE @pPolot INT = (SELECT Id FROM Properties WHERE Title LIKE N'%Полоцк%');

-- APPOINTMENTS (35 записей по 6 месяцам)

-- REVIEWS

-- FAVORITES
INSERT INTO Favorites (UserId,PropertyId,AddedAt) VALUES
(@c1,@pPobed,'2026-05-03'),
(@c1,@pBor,'2026-05-04'),
(@c1,@pNemig,'2026-05-06'),
(@c2,@pNezu,'2026-05-01'),
(@c2,@pDroz,'2026-05-02'),
(@c3,@pBrest,'2026-05-05'),
(@c3,@pGrodn,'2026-05-06'),
(@c4,@pPush,'2026-04-30'),
(@c4,@pZasla,'2026-04-28'),
(@c5,@pMogil,'2026-05-07'),
(@c5,@pBor,'2026-04-25'),
(@c6,@pZhdan,'2026-04-20'),
(@c6,@pZasla,'2026-04-22'),
(@c7,@pPolot,'2026-05-01'),
(@c7,@pMalin,'2026-04-18');

-- PRICE HISTORY (изменения цен для 6 объектов)

PRINT N'Готово! Записей добавлено.';
