SET NOCOUNT ON;
USE RealEstateDb;

DECLARE @r1 INT = (SELECT Id FROM Users WHERE Login='realtor1');
DECLARE @r2 INT = (SELECT Id FROM Users WHERE Login='realtor2');
DECLARE @r3 INT = (SELECT Id FROM Users WHERE Login='realtor3');

