<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RealEstateConnection" 
         connectionString="Server=(localdb)\mssqllocaldb;Database=RealEstateDb;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=False" 
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
</configuration>
