<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RealEstateConnection"
         connectionString="Server=(localdb)\mssqllocaldb;Database=RealEstateDb;Trusted_Connection=True;MultipleActiveResultSets=true;Encrypt=False"
         providerName="Microsoft.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- SMTP настройки. Для Gmail: smtp.gmail.com:587, нужен App Password -->
    <!-- Для Яндекс: smtp.yandex.ru:587 -->
    <add key="Smtp:Host"        value="smtp.gmail.com"/>
    <add key="Smtp:Port"        value="587"/>
    <add key="Smtp:UseSsl"      value="true"/>
    <add key="Smtp:UserName"    value="uunn2994@gmail.com"/>
    <add key="Smtp:Password"    value="vvvnaygwqxglhdhq"/>
    <add key="Smtp:FromName"    value="Агентство недвижимости"/>
    <add key="Smtp:AgencyName"  value="HomeEstate"/>
    <add key="Smtp:AgencySite"  value="https://homeestate.ru"/>
  </appSettings>
</configuration>
